<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NBakeService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NBakeService.Properties.Settings>
            <setting name="gitPath" serializeAs="String">
                <value>C:\Program Files\Git\bin\git.exe</value>
            </setting>
            <setting name="userId" serializeAs="String">
                <value>Andrew Matthews</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>andrew.matthews@premier.com.au</value>
            </setting>
            <setting name="PathToMonitor" serializeAs="String">
                <value>c:\tmp\nbakeTest</value>
            </setting>
            <setting name="IgnorePatterns" serializeAs="String">
                <value>*.swp,.svn,*ReSharper*,*~,bin,obj,Debug,Release,*.suo,*.user</value>
            </setting>
        </NBakeService.Properties.Settings>
    </applicationSettings>
</configuration>