<?xml version="1.0"?>
<nbake id="main tracker">
    <properties>
        <property name="commitCheckTimerPeriodMs" value="1800000" />
        <property name="checkinFormatComment" value="Committed by NBake" />
        <property name="ignoreList" value="*.swp,.svn,*ReSharper*,*~,bin,obj,Debug,Release,*.suo,*.user" />
        <property name="userId" value="Andrerw Matthews" />
        <property name="email" value="matthews.andrerw@gmail.com" />
        <property name="gitPath" value="C:\Program Files\Git\bin\git.exe"/>
    </properties>
    <targets>
        <target id="one note directory">
            <path>C:\shared.datastore\repository\personal\My Documents\OneNote Notebooks</path>
            <properties>
                <property name="checkinFormatComment" value="Updates via onenote"/>
                <property name="commitCheckTimerPeriodMs" value="3600000" />
                <property name="ignoreList" value="" />
            </properties>
            <remoteRepositories>
                <repository name="github" uri="git://aabs.github.com/privatedata.git@uid:pwd" autopush="false"/>
            </remoteRepositories>
        </target>
        <target id="nbake dev directory">
            <path>c:\dev\nbake</path>
            <remoteRepositories>
                <repository name="github" uri="git://aabs.github.com/nbake.git" autopush="false"/>
            </remoteRepositories>
        </target>
    </targets>
</nbake>