<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System" >
            <section name="NBake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NBake.Properties.Settings>
            <setting name="PathToMonitor" serializeAs="String">
                <value>c:\dev\nbakeTest</value>
            </setting>
            <setting name="gitPath" serializeAs="String">
                <value>C:\Program Files\Git\bin\git.exe</value>
            </setting>
        </NBake.Properties.Settings>
    </applicationSettings>
</configuration>